fastapi
uvicorn[standard]
pydantic
python-multipart
groq
--extra-index-url https://download.pytorch.org/whl/cpu
torch
sentence-transformers
qdrant-client
python-dotenv
numpy
requests
beautifulsoup4
html2text
urllib3